* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container_heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-top: 25rem;
}

.container_heroSection h1 {
  font-size: 3.5rem;
  font-weight: normal;
  align-items: center;
}

.container_heroSection h1 .highlight {
  background: -webkit-linear-gradient(#eee, #4539f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-button {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(10, 2fr);
  grid-template-areas: ". . . . g p . . . .";
}

.link-button .github {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  align-self: center;
  color: rgb(10, 10, 10);
  grid-area: g;
}
.link-button .projects {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-area: p;
}

.link-button .fa:hover {
  opacity: 0.7;
}

@media (maxwidth: 56.25rem) {
  .container_heroSection {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 10rem;
  }

  .container_heroSection h1 {
    font-size: 3.1rem;
  }
}

@media (maxwidth: 32.5rem) {
  .container_heroSection {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 13rem;
  }
  .container_heroSection h1 {
    font-size: 2.5rem;
  }
}

@media (minwidth: 25rem) {
  .container_heroSection {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 15rem;
  }
  .container_heroSection h1 {
    font-size: 2.5rem;
  }
}
